body {
  background-color: #f6f6f6;
}
#auth-button {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

#sign-in {
  padding: 5%;
  margin: 10% auto;
  max-width: 50%;
  background-color: #fff;
  border-radius: 2%;
}

.logo {
  width: 30%;
}

#sign-in button img {
  width: 50%;
}

#account-printout table {
  background-color: #fff;
  margin-top: 3%;
}
.expand {
  text-align: right;
}
.account-users {
  padding-left: 5%;
}
